* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#long-url {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  outline: none;
  padding: 0 10px;
}

#btn {
  width: 200px;
  height: 40px;
  background-color: #0090ff;
  color: #fff;
  font-size: 1rem;
  transition: 300ms;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

#btn:active {
  transform: scale(0.9);
}

#short-url {
  margin-top: 20px;
}
